<%= form_with(model: @test, local: true) do |form| %>

    <div>
        <%= form.label :name%>
        <%= form.text_field :name%>
    </div>

    <div>
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>